.aboutHeader {
    color: #fff;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: serif;
    background: linear-gradient(to right,#001b32 10%, #224287 50%, #808ea0 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
}
@media only screen and (max-width: 1200px) {
  .aboutHeader {
    font-size: 50px;
  }
}
.aboutme{
    font-size:25px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    font-weight: bold; 
    background-color: white;
    opacity: 0.9;
}

@media only screen and (max-width: 1200px) {
  .aboutme{
   background: white;
   opacity: 0.9;
  }
}

.aboutContainer {
    padding-left: 500px;
    padding-right: 500px;
}


@media only screen and (max-width: 1200px) {
    .aboutContainer {
      padding-left:10px;
      padding-right: 10px;
    }
  }

.aboutHeader:hover {
   font-style: italic;
   background: linear-gradient(to right,#020b13 10%, #947a13 50%, #e7bb09 60%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


a.skillsContact{
    font-style: italic;
    color: rgb(8, 6, 130);
}