.headshot {
  width: 25vw;
  justify-content: center;
}

.aboutHeader {
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: serif;
    background: linear-gradient(to right,#001b32 10%, #224287 50%, #808ea0 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
}
@media only screen and (max-width: 1200px) {
  .aboutHeader {
    font-size: 45px;
  }
}

.aboutme{
    font-size:20px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    font-weight: bold; 
    margin-left: 30px;
    line-height: 30px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.658);
}

@media only screen and (max-width: 1200px) {
  .aboutme{
   background: rgba(255, 255, 255, 0.829);
   padding: 20px;
   margin-bottom: -50px;
  }
}

.aboutContainer {
    padding-left: 500px;
    padding-right: 500px;
}


/* @media only screen and (max-width: 1200px) {
    .aboutContainer {
      padding-left:10px;
      padding-right: 10px;
    }
  } */

.aboutHeader:hover {
   background: linear-gradient(to right,#020b13 10%, #947a13 50%, #e7bb09 60%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


a.skillsContact{
    font-style: italic;
    color: rgb(38, 35, 226);
}

.aboutPage {
  height: 700px;
  display: flex;
  flex-direction: row wrap;
}

@media only screen and (max-width: 1200px) {
  .aboutPage {
    height: 1400px;
  }
}

.skills {
  font-size:20px;
  text-align: right;
  margin-right: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
  font-weight: bold; 
  line-height: 30px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.356);
}