.leftColumn {
    background-image: url("https://i.postimg.cc/L4jGn9Xr/Screen-Shot-2021-01-27-at-3-38-12-PM.png");
    height: 700px;
    background-size: cover;
    background-position: center;
}

.rightColumn {
    background-color: rgb(165, 132, 165);
}

span {
    color: white;
    font-family: monospace;
    text-shadow: 8px 4px rgb(22, 9, 22);

}

.homeHeader {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    text-align: left;
    margin-left: 30px;
    margin-top: 50px;
    text-shadow: 8px 1px rgba(80, 78, 78, 0.434);
}

.typicalEffect {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: white;
    text-align: left;
    margin-left: 30px;
}